<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemeinschaft ansehen</title>
</head>
<body>

    <h1>Alle Gemeinschaften ansehen</h1>

    <p>Anzahl Gemeinden: <% gemeinden.length %> </p>

        <% for(var i=0; i < gemeinden.length; i++) { %>

            <ul>  
            <li> <%=i+1%> <%= gemeinden[i].Bezeichnung %> , Mitglieder: <%= gemeinden[i].Mitglieder %> <%= gemeinden[i].Kilometer%> <%= gemeinden[i].Ortsname%> <%= gemeinden[i].Postleitzahl%> <%= gemeinden[i].Strasse%> <%= gemeinden[i].Hausnummer%></li><br><br>
            </ul>
            <form method="POST" action="beitreten">
                <input type="submit" name=beitreten<%=i%> value=Beitreten>
            </form>
            <% } %>
      

</body>
</html>