<%- include("header") -%>

<h1>Alle Gemeinschaften ansehen</h1>

<% for(var i=0; i < gemeinden.length; i++) { %>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
        <img src="/public/house-icon.png" class="card-img-top" alt="..." style="max-height: 260px; max-width:310px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= gemeinden[i].Bezeichnung %></h5>
              <p class="card-text"><%= gemeinden[i].Mitglieder %> <%= gemeinden[i].Kilometer%> <%= gemeinden[i].Ortsname%> <%= gemeinden[i].Postleitzahl%> <%= gemeinden[i].Strasse%> <%= gemeinden[i].Hausnummer%></p>
              <form method="POST" action="beitretenoderverlassen">
              <button name=beitreten value=<%=gemeinden[i].idGemeinde%> class="btn btn-primary">Beitreten</button>
              <button name=verlassen value=<%=gemeinden[i].idGemeinde%> class="btn btn-primary">Verlassen</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    
<% } %>

<br><br>

<%- include("footer") -%>